:root {
    --font-size: 1.1vw;
    --line-height: 1.3em;
    /* --magenta: #ff38c4; */
    --magenta: #D9027D;
}

.print-only {
    display: none;   
}

body  {
    display: flex;
    background-color: #F8F8F8;
    background-color: var(--magenta);
    /* flex-wrap: wrap; */
    /* margin-left: 6%; */
}


section.right {
    flex: 1 0;
    background-color: white;
}

nav {
    padding-top: 10em;
    color: white;
    overflow-x: hidden;
    overflow-y: auto;
    position: sticky;
    height: 100vh;
    top: 0;
    width: 0px;
    z-index: 2;
    transition: width .25s, margin .25s;
}

header {
    color: white;
    height: 100vh;
    position: sticky;
    top: 0;
    width: 130px;
}

header h1 {
	font-size: 1.1em;
	line-height: 1.5em;
	padding: 0;
	transform: rotate(-90deg);
    transform-origin: bottom right;
	position: absolute;
	bottom: calc(100% - 1em);
    right: 0.5em;
}

nav ul {
    font-size: 18px;
    line-height: 1.3em;
    top: 0;
    left: 0px;
    position: absolute;
    /* background: #F8F8F8; */
    background: var(--magenta);
    color: white;
    padding: 0;
    width: 0;
    height: 100%;
    border: 0;
    padding: 1.5em 0;
    margin-top: 0;
    height: 100vh;
    border-left: 1px solid white;
    width: 350px;
    overflow-y: auto;
    overflow-x: hidden;
}

nav ul li.active {
    font-weight: bold;
}

nav ul li:before {
    content: "";
}

nav[data-active] {
    background-color: #F8F8F8;
    background-color: var(--magenta);
    height: 100vh;
    width: 350px;
    margin-right: -350px;
    transition: width .25s, margin .25s;
}

nav[data-active] ul {
    overflow: hidden;
    z-index: 100;
    overflow-y: auto;
    overflow-x: hidden;
}

nav ul li {
    width: 280px;
    margin: 0em 1.5em .25em 1.5em;
}

nav a {
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

nav ul li {
    margin-left: calc(1.5em + 15px);
    text-indent: -15px;
}

nav ul a.active {
    font-size: 1.5em;
    line-height: 1.25em;
}

.toc {
    position: sticky;
    top: 32vh;
    height: 68vh;
    overflow-y: auto;
    margin-left: -10em;
    font-size: 0.7em;
    line-height: 1.25em;
    width: 200px;
    float: left;
}
.toc ul {
    padding-top: 0;
    padding-bottom: 0;
}

.toc  ul {
    border: 0;
    padding-left: 0;
    border: 0;
}
/* 
.toc > ul li:before {
    content: "├ ";
}

.toc ul ul li:before {
    content: "├─ ";
}
.toc ul ul ul li:before {
    content: "├── ";
} */

.toc ul a:hover {
    text-decoration: underline;
}

#canvas iframe {
    height: 100%;
    width: 100%;
}

#canvas {
    position: sticky;
    top: 0;
    margin-top: 110vh;
    height: 100vh;
}

main {
    flex: 1 0;
    z-index: 1; /** Necessary to make the graph lay over the right column */
    box-sizing: border-box;
    padding-top: 2em;
    padding-right: 1.5em;
    padding-bottom: 10em;
    border-left: 1em solid #F8F8F8;
    border-left-color: var(--magenta);
    background-color: white;
}

body[data-sketch-fullscreen] main {
    overflow-x: hidden;
    flex: 0 0 0px;
}

h1 {
    margin-left: 1em;
}


main h1 + p img {
    margin-left: 25vw;
    max-height: 80vh;
}

h2 {
    counter-increment: h2;
}
h2:before {
    content: counter(h1) + "." + counter(h2);
}

#canvas iframe {
    height: 100vh;
}

main .active {
    background-color: lightyellow;
}


p, blockquote, li {
    letter-spacing: .25px;
}

div.footnote {
    font-size: 0.8em;
    line-height: 1.45em;
}

@media screen and (max-width: 2000px) {
    :root {
        --font-size: 19px !important;
        --line-height: 1.45em !important;
    }
    nav {
        padding-top: 9em;
    }
    nav h1 {
        font-size: 22px;
    }
    .toc {
        top: 39vh;
    }
}

.section {
    border-left-color: var(--magenta);
}

.section .subsection  {
    margin-top: 1em;
    border-left-color: var(--magenta);
}

h4 ~ p,
h4 ~ ol,
h4 ~ ul,
h4 ~ blockquote,
h4 ~ table,
h4 ~ div,
h3 ~ h4 {
    border-left-color: var(--magenta);
}

h3 {
	padding-top: var(--line-height);
}

a {
    border-bottom: none;
}


body.home .right {
    flex: 0 0;
}

.coverGraph {
    outline: none;
    grid-column-end: span 2;
    max-height: 80vh;
    margin-left: 3em;
    margin-bottom: 2em;
    max-width: 80vw;
    max-width: initial;
}

body.home #content h1 {
    display: none;
}
 
/* body.home #page-list {
	max-width: 60em;
	display: grid;
	grid-template-columns: 1fr 1fr;
	column-gap: .5em;
	row-gap: .5em;
	grid-auto-rows: 3em;
} */
/* body.home #page-list li {
	border: 1px solid black;
	padding: .5em;
    margin-left: 0;
    text-indent: 0;
} */

body.home #page-list {
    border: none;
    font-size: 125%;
    line-height: 1.45em;
}

body.home #page-list li::before {
	content: "";
}

body.home #content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: min-content;
    column-gap: 2em;
}

